.form-control{
    margin: .5rem 0;
}

.form-control label{
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
}

.form-control input{
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    font: inherit;
    padding: 0 0.25rem;
    line-height: 1.5rem;
}

.form-control input:focus{
    outline: none;
    background: #fad0ec;
    border-color: #8b005d;
}


.form-control.invalid label{
    color: red;
  }

  .form-control.invalid input{
    border-color: red;
    background: pink;
  } 