*{
  box-sizing: border-box;
}

html{
  font-family: sans-serif;
}

body{
  margin: 0;
}

.errorText{
  margin-top: 10px !important;
  text-align: center;
  color: red;
  background-color: transparent;
  border-radius: 20px;
}

#goals {
  width: 30rem;
  max-width: 90%;
  margin:3rem auto;
}

#goal-form {
  width: 30rem;
  max-width: 90%;
  margin: 3rem auto;
  padding: 2rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* .form-control{
  margin: .5rem 0;
}

.form-control label{
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
}

.form-control input{
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  padding: 0 0.25rem;
  line-height: 1.5rem;
}

.form-control input:focus{
  outline: none;
  background: #fad0ec;
  border-color: #8b005d;
} */

/* .button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #8b005d;
  color: white;
  background: #8b005d;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #ac0e77;
  border-color: #ac0e77;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
} */
/* 
.form-control.invalid label{
  color: red;
}

.form-control.invalid input{
  border-color: red;
  background: pink;
}  */

.goal-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.goal-item {
  margin: 1rem 0;
  background: #8b005d;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
}

